.glassMenu {
  backdrop-filter: 25px blur;
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0px 4px 4px 0px #00000033, 0px 8px 12px 6px #00000016;
}

.glassMenuWhite {
  backdrop-filter: 25px blur;
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0px 4px 4px 0px #00000033, 0px 8px 12px 6px #00000016;
}

.glassMenuBlack {
  backdrop-filter: 25px blur;
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: 0px 4px 4px 0px #00000033, 0px 8px 12px 6px #00000016;
}

.glassButton {
  background-color: rgba(255, 255, 255, 0.1);
}

.glassSurface {
  backdrop-filter: 25px blur;
}

.windowHeader {
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
